@use "../_variables.scss" as *;
.container {
  @include flex(row, center, space-between);
  gap: vw(0.03px);
  width: 100%;
  z-index: 100;
  padding: 0 vw(100px);
  position: absolute;
  top: vh(56px);
  left: 0;

  .homeContainer {
    @include flex(row, center, center);
    gap: vw(10px);
    cursor: pointer;
    .homeIcon {
      width: vw(39px);
      height: vw(34px);
    }
    .home {
      font-size: rem(25px);
      letter-spacing: -0.011em;
      color: #ff3435;
    }
  }

  .menuContainer {
    @include flex(row, center, center, vw(42px));
    cursor: pointer;
    .aboutContainer {
      @include flex(row, center, center);
      gap: vw(10px);
      cursor: pointer;
      .about {
        font-size: rem(22px);
        letter-spacing: -0.011em;
        color: #ff3435;
      }
    }
    .projectContainer {
      @include flex(row, center, center);
      gap: vw(10px);
      cursor: pointer;
      .project {
        font-size: rem(22px);
        letter-spacing: -0.011em;
        color: #038dcc;
      }
    }
    .mapContainer {
      @include flex(row, center, center);
      gap: vw(10px);
      cursor: pointer;
      .map {
        font-size: rem(22px);
        letter-spacing: -0.011em;
        color: #b6da03;
      }
    }
  }
}
