@use "../_variables.scss" as *;

.card {
  width: fit-content;
  width: 125px;
  height: 176px;
  background-color: #ffffff;
  padding: vh(7px) vw(12px);
  @include flex(column, center, space-between, (vh(6px)));
  .position {
    font-family: "Pretendard Variable", sans-serif;
    letter-spacing: -0.04em;
    font-size: rem(28px);
    height: 20px;
    font-weight: 600;
    color: #ff3435;
    white-space: nowrap;
  }
  img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
  }
  .nameBox {
    @include flex(row, center, space-between, 6px);
    width: 100%;
    height: fit-content;
    .name {
      font-family: "Pretendard Variable", sans-serif;
      font-size: rem(24px);
      font-weight: 500;
      color: #1c1f1c;
      line-height: 1.5;
      letter-spacing: -0.04em;
    }
  }
}
