@use "../_variables.scss" as *;
.container {
  @include flex(column, flex-end, center);
  gap: vw(0.03px);
  background-image: url("../../assets/menu_background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 152px;
  height: 118px;
  padding: vh(1px) vw(10px) vh(2px) 0;
  z-index: 1;

  .aboutContainer {
    @include flex(row, center, center);
    gap: vw(9px);
    cursor: pointer;
    .about {
      font-size: rem(22px);
      letter-spacing: -0.011em;
      color: #ff3435;
    }
  }
  .projectContainer {
    @include flex(row, center, center);
    gap: vw(9px);
    cursor: pointer;
    .project {
      font-size: rem(22px);
      letter-spacing: -0.011em;
      color: #038dcc;
    }
  }
  .mapContainer {
    @include flex(row, center, center);
    gap: vw(9px);
    cursor: pointer;
    .map {
      font-size: rem(22px);
      letter-spacing: -0.011em;
      color: #b6da03;
    }
  }
}
