@use "../_variables.scss" as *;

.container {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, center);
  padding: vh(40px) vw(77px) vh(81px) vw(77px);
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .content {
    width: 100%;
    max-width: 1440px;
    margin-top: vh(56px);
    @include flex(column, center, center);

    &.fadeInUp {
      animation: fadeInUp 0.8s ease-out forwards;
    }

    .firstLine {
      @include flex(row, center, center);
      width: 100%;
      justify-content: flex-start;
      .bracketsLeft {
        margin-right: vw(384px);
      }
      .bracketsRight {
        margin-right: vw(12px);
      }
      .text {
        font-size: rem(144px);
        letter-spacing: -0.06em;
      }
    }
    .secondLine {
      @include flex(row, center, center, vw(8px));
      width: 100%;
      justify-content: flex-start;
      height: vh(151px);
      .text {
        font-size: rem(144px);
        letter-spacing: -0.06em;
        background-color: #ff3435;
        height: vh(151px);
        color: white;
        padding: 0 vw(15px);
      }
      .starContainer {
        font-size: rem(200px);
        color: #229bd2;
        line-height: 1.26;
        letter-spacing: 0.11em;
      }
    }
    .thirdLine {
      @include flex(row, center, center);
      width: 100%;
      justify-content: flex-start;
      .text {
        font-size: rem(144px);
        letter-spacing: -0.06em;
      }
    }
    .fourthLine {
      @include flex(row, flex-start, center);
      width: 100%;
      justify-content: flex-start;
      .date {
        width: vw(550px);
        margin: 0 vw(18px);
      }
    }
    .bottomContent {
      @include flex(row, flex-end, space-between);
      width: 100%;
      margin-top: vh(70px);
      padding-right: vw(13px);
      .addressContainer {
        :first-child {
          margin-bottom: vh(-17px);
        }
        .address {
          font-family: "Questrial", sans-serif;
          font-size: rem(40px);
          letter-spacing: -0.06em;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
