@use "../_variables.scss" as *;

.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  @include flex(column, flex-start, flex-start);

  .paddingContainer {
    padding: vh(65px) 0 vh(118px) vw(83px);
  }

  .homeButton {
    @include flex(row, center, flex-start, vw(7px));
    cursor: pointer;
    .homeButtonText {
      font-size: rem(25px);
      letter-spacing: -0.011em;
      line-height: 1.5;
      color: #ff3435;
    }
  }

  .menuContainer {
    position: absolute;
    top: vh(57px);
    right: vw(90px);
  }

  .title {
    font-size: rem(135px);
    letter-spacing: -0.04em;
    color: #229bd2;
    line-height: 1.5;
    margin-top: vh(-8px);
  }

  .contentWrapper {
    @include flex(column, flex-start, flex-start, 0);
    margin-top: vh(128px);
    width: 100%;
  }

  .backButtonContainer {
    margin-bottom: vh(20px);

    .backButton {
      @include flex(row, center, center, vw(10px));
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      .backButtonIcon {
        width: 10px;
        height: 19px;
      }

      span {
        font-family: "BusanFont_Provisional", "Busan", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: -1.1%;
        text-transform: uppercase;
        color: #1c1f1c;
      }
    }
  }

  .contentGrid {
    @include flex(row, flex-start, flex-start, vw(40px));
    width: 100%;
    align-items: flex-start;
  }

  .imageColumn {
    @include flex(column, flex-start, flex-start, vh(20px));
    width: vw(600px);
    max-width: 600px;
    flex-shrink: 0;

    .imageItem {
      width: 100%;
      position: relative;
      overflow: hidden;

      .imageType {
        position: absolute;
        top: vh(10px);
        left: vw(10px);
        z-index: 10;
        font-family: "Pretendard", "Pretendard Variable", sans-serif;
        font-size: rem(16px);
        font-weight: 500;
        letter-spacing: -0.04em;
        color: #1c1f1c;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.8);
        padding: vh(5px) vw(10px);
        border-radius: 4px;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .contentContainer {
    position: relative;
    @include flex(column, flex-start, flex-start);
    flex: 1;
    min-width: 0; // flex item이 overflow 방지
  }
}

