// @use './variables' as *; 불러오기

@mixin flex(
  $direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: null
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

@function rem($size) {
  @return calc($size / 16px * 1rem);
}

@function vw($size) {
  @return calc($size / 1440px * 100vw);
}

@function vh($size) {
  @return calc($size / 1024px * 100vh);
}

// 컬러 변수
$color1: #ff3435;
$color2: #b6da03;
$color3: #229bd2;
$black: #1c1f1c;
$BG_1: #ff5050;
$BG_2: #f6f6f6;
